*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
h2{
    text-align: center;
}
table{
    width: 90%;
    border-collapse: collapse;
    justify-content: center;


}
table th, table td {
  border: 1px solid #ccc;
  padding-bottom: 3px;
  padding-top: 3px;
}

th, td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #27667B;
    color: white;
    font-size: 16px;
}