*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(image/pay\ 4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    background-color: transparent;
    width: 300px;
    height: 450px;
    padding: 10px;
    position: fixed;
    border-radius: 15px;
    border: 2px solid;
    color: #fff;

}
.row{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
	-webkit-appearance:none;
}
.row input{
    width: 70%;
    height: 30px;
    text-decoration: none;
    margin-left: 15px;
    padding-inline-start: 9px;
    border-radius: 4px;
}
.btn{
    justify-self: center;
}
span{
    color: red;
    font-size: 16px;
    margin-left: 20px;
    
}
.btn button{
    margin-top: 15px;
    background-color: rgb(22, 74, 244);
    color: #fff;
    width: 150px;
    height: 38px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    border-color: #fff;
    font-size: 20px;
}
label{
    font-size: 18px;
}