*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: black;
    color: #fff;
    justify-content: space-between;
    display: flex;
}
header a,h1{
    margin: 30px;
    align-self: center;
    color: #fff;
    text-decoration: none;
}
header a{
    margin-left: 40px;
    font-size: 22px;
}
header button{
    cursor: pointer;
    margin: 30px;
    margin-right: 40px;
    align-self: center;
    color: #fff;
    font-size: 20px;
    background-color: rgb(102, 81, 102);
    height: 40px;
    width: 150px;
    border-radius: 9px;
    font-family: 'Times New Roman', Times, serif;
    border:2px solid #fff;
    text-decoration: none;

}
.btn{
    display: flex;
    gap: 8px;
    margin-top: 10px;
}
.btn button{
    width: 70px;
    height: 25px;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: black;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(141, 137, 145);
    
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.input{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    margin-top: 7px;
}
.input button{
    width: 30px;
    height: 30px;
    font-weight: bolder;
    font-size: 22px;
    cursor: pointer;
    
}
.card{
    margin-top: 10px;
    width: 280px;
    height: 320px;
    background-color: #fff;
    box-shadow: 2px 3px 3px rgb(6, 5, 7);
    border-radius: 9px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;

}
.card img{
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-top: 25px;
    width: 120px;
    height: 120px;
    transition: 0.5s;
    transform-origin: center;

}
h2{
    font-weight: lighter;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 5px;
}
h3{
    margin-bottom: 3px;
    
}
.total-amount{
    margin-top: 40px;
    color: #efeaea;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


@media  (max-width:768px){
    
    
}

