*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(image/gradient.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
form{
    width: 380px;
    height: 580px;
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    font-size: 18px;
    position: fixed;
}
form h2{
    text-align: center;
    font-size: 23px;
}
.name,.email ,.number,.area,.city{
    display: flex;
    flex-direction: column;
    width: 90%;
}
input{
    margin-left: 20px;
}
.divide{
    display: flex;
    gap: 5px;

}
.divide input{
    margin: 0;
    width: 90%;
    height: 35px;
    padding-inline-start: 10px;
    border-radius: 10px;
}
.city input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.name input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.email input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.number input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.area input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.submit{
    justify-self: center;
    margin-top: 20px;
    
}
span{
    margin-left: 10px;
    font-size: 15px;
    color: red;
}
button{
    height: 34px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    background-color:oklch(27.9% 0.041 260.031);
    cursor: pointer;
    color: #fff;
    border: 1px solid black;
    border-radius: 9px;
}
button:hover{
    transform: scale(0.8);
}
.home a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}
@media  (max-width:400px){
    form{
        width:310px ;
    }
}

