*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(image/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
}
form{
    background-color: #FFF1CA;
    width: 370px;
    height: 580px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 20px;
    font-size: 18px;
    position: fixed;


    
}
form h2{
    text-align: center;
}
.name,.email ,.number,.area,.city{
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    width: 80%;
    margin-left: 20px;
}
.divide{
    display: flex;
    gap: 5px;
    margin-left: 10px;

}
.divide input{
    width: 90%;
    height: 35px;
    padding-inline-start: 10px;
    border-radius: 10px;
    border: 2px lightgrey;
    outline: transparent;
}
.divide input:hover{
    border-style: none;
    border: none;
    outline: none;
}
.city input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.name input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.email input{
    height: 30px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.number input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.area input{
    height: 35px;
    border-radius: 10px;
    padding-inline-start: 10px;
    margin-left: 10px;
}
.submit{
    justify-self: center;
    margin: 20px;
    
}
span{
    margin-left: 10px;
    font-size: 13px;
    color: red;
}
button{
    margin-top: 5px;
    height: 40px;
    width: 180px;
    font-size: 20px;
    color: orange;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid;
    border-radius: 7px;
}
button:hover{
    transform: scale(0.8);
    background-color: orangered;
    color: #fff;
}